html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6em;
    @include body-font;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

.display-4 {
    @include heading-font;
    font-size: 3.0rem;
}


.small {
    font-size: 1.2rem;
    a {
        text-decoration: underline;
    }
}

