
.logo {
    height: 10rem;
    padding-right: 1.4rem;
    padding-bottom: 1.7rem;
}

.shadow {
    &.top {
        box-shadow: 0px -15px 10px -15px $black;
    }
    &.bottom {
        box-shadow: 0px 15px 10px -15px $black;
    }
    &.left {
        box-shadow: -15px 0px 10px -15px $black;
    }
    &.right {
        box-shadow: 15px 0px 10px -15px $black;
    }
}

.navbar-brand {
    @include heading-font;
    margin-top: 50px;
    font-size: 4rem;
    letter-spacing: 0.05rem;
    color: $black;
    padding-top:1rem;
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 2rem;
    }
    .logo {
        height:5rem;
        padding-right:0;
        padding-bottom:0.7rem;
    }
}

